<form action="<?php echo $action ?>" method="post">
	<p>
		<label for="attribute1">Attribute 1</label>
		<input type="text" name="attribute1" id="attribute1" />
	</p>
	
	<p>
		<label for="attribute2">Attribute 2</label>
		<input type="text" name="attribute2" id="attribute2" />
	</p>
	
	<p>
		<input type="submit" value="Save" />
	</p>
</form>
