<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>404 | Not Found</title>
		
		<style>
			body {
				font-family: arial, helvetica, sans-serif;
				background-color: #ffb;
				color: #662;
				margin: 0;
			}
			
			nav ul {
				margin: 0;
				list-style-type: none;
				overflow: hidden;
				background-color: #662;
				text-align:center;
			}
			
			nav ul li {
				float:left;
				width:33%;
				padding:15px 0 15px 0;
			}
			
			nav ul li a {
				color: #ffb;
			}
			
			h1 {
				text-align: center;
			}
			
			main {
				margin: 0 auto;
				width: 85%;
			}
		</style>
	</head>

	<body>
		<nav>
			<ul>
				<li><a href="/">Link 1</a></li>
				<li><a href="/">Link 2</a></li>
				<li><a href="/">Link 3</a></li>
			</ul>
		</nav>
		
		<h1>Error 404 - Not Found</h1>
		
		<main>
			<p>
				Sorry, we couldn't find what you requested.
			</p>
			
			<p>
				Nevermind, just use the navigation links above to get back onto the site.
			</p>
		</main>
	</body>
</html>