<h2>Index page</h2>

<?php if(isset($message)): ?>
<hr /><?php echo $message ?><hr />
<?php endif ?>

<?php if(count($items)): ?>
<ul>
	<?php foreach($items as $item): ?>
	<li>
		<?php echo $item['name'] ?>
		<a href="/index/<?php echo $item['id'] ?>/edit">edit</a>
		<a href="/index/<?php echo $item['id'] ?>/delete">delete</a>
	</li>
	<?php endforeach ?>
</ul>
<?php endif ?>

<a href="/index/new">Create new item</a>